/* ---------------------------------------------
 Blocks
 --
 A repeater meant to create a separated grid
 of items
--------------------------------------------- */

.blocks {
  display: flex;
  margin-left: rhythm(-1);
  margin-top: rhythm(-1);

  > * {
    padding-left: rhythm(1);
    padding-top: rhythm(1);
  }
}

@mixin createBlocks($size, $resolution: '') {
  .blocks_ {
    &#{$size}up#{$resolution} {
      > * {
        width: #{(100/$size)'%'};
      }
    }
  }
}

@include createBlocks(1);
@include createBlocks(2);
@include createBlocks(3);
