// ---------------------------------------------
//  GLOBAL VARIABLES
// ---------------------------------------------

// ----------------------
//  VIEWPORT SIZES
// ----------------------
$VIEWPORT_MD: 768px;
$VIEWPORT_LG: 1024px;

// ----------------------
//  COLORS
// ----------------------

// ----------------------
//  FONTS
// ----------------------

$FONT_FAMILY_PRIMARY: 'Arial', sans-serif;

// ----------------------
//  RHYTHM
// ----------------------

$RHYTHM_BASE: 8;
