<header class="site-header">

    <div class="wrapper">
        <img src="{{ site.baseurl }}/images/uprightly-quill.png" class="logo" />
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

        <nav class="site-nav">
            <a class="page-link" target="_blank" href="{{ site.baseurl }}/docs/uprightly-whitepaper.pdf">Whitepaper</a>
            <a class="page-link" href="{{ site.baseurl }}/team">Team</a>
            <a class="page-link" href="{{ site.baseurl }}/ico">ICO Info</a>
            <a class="page-link" href="{{ site.baseurl }}/faq">FAQ</a>
            <a class="page-link" href="{{ site.baseurl }}/posts">Blog</a>
            <a class="page-link" target="_blank" href="https://join.slack.com/t/uprightly/shared_invite/enQtMzExMTc1OTI0MzEwLTFiNWI5NmRhYTQ5MjAzMzdiYmNiZDE2ODE2NTA3NDI3NTdiZGIwN2RkOTYxYTg1Mzg5NWQ0OWJiYjJiNWI1NGI">Chat</a>
            <a class="page-link" target="_blank" href="https://www.github.com/uprightly">Github</a>

        </nav>

    </div>

</header>