<header class="site-header">

  <div class="wrapper">
    <img src="/images/uprightly-stamp-150.png" class="logo" />
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
        <a class="page-link" target="_blank" href="/docs/uprightly-whitepaper.pdf">Whitepaper</a>
        <a class="page-link" href="/team">Team</a>
        <a class="page-link" href="/ico">ICO Info</a>
        <a class="page-link" href="/faq">FAQ</a>
        <a class="page-link" href="/posts">Blog</a>
        <a class="page-link" target="_blank" href="https://join.slack.com/t/uprightly/shared_invite/enQtMzExMTc1OTI0MzEwLTFiNWI5NmRhYTQ5MjAzMzdiYmNiZDE2ODE2NTA3NDI3NTdiZGIwN2RkOTYxYTg1Mzg5NWQ0OWJiYjJiNWI1NGI">Chat</a>
        <a class="page-link" target="_blank" href="https://www.github.com/uprightly">Github</a>

    </nav>

  </div>

</header>
