<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <title>{{ page.title }} | Uprightly</title >

    <link href="/styles/main.css" rel="stylesheet">
  </head>
  <body>
    {% include analytics.html %}

    {% include header.html %}

    <main id="main">
      {{ content }}
    </main><!-- end: main -->

    {% include footer.html %}

  </body>
</html>
